Host {{ aap_controller_hosts | join(' ') }} {{ aap_ee_hosts | join(' ') }} {{ aap_hub_hosts | join(' ') }} {{ aap_eda_hosts | join(' ') }} {% if infrastructure_aap_version is defined and infrastructure_aap_version is version('2.5', '>=') %} {{ aap_gateway_hosts | join(' ') }} {% endif %}
    User ec2-user
    IdentityFile {{ aap_installer_ssh_key_dest }}
    StrictHostKeyChecking no